[data-theme="dark"] {
  --nav-bg-color: #374151;
  --nav-link-color: #989fab;
  --content-bg-color: #1f2937;
  --description-text-color: #6b7381;
  --subtitle-text-color: #626977;
  --default-text-color: #ffff;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: var(--content-bg-color);
  color: var(--default-text-color);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.4;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.card {
  border-radius: 20px;
  background-color: transparent;
}

.seller-story .card-link {
  text-decoration: none;
  color: white;
}

.seller-story .card-link .card {
  -webkit-transition: 0.55s ease-in;
  transition: 0.55s ease-in;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.seller-story .card-link:hover .card {
  margin-top: -20px !important;
  -webkit-transition: all 0.55s ease;
  transition: all 0.55s ease;
}

.seller-story .sub-title {
  font-size: .875rem;
  letter-spacing: .1em;
  margin-bottom: 1rem;
  display: block;
  color: rgba(229, 231, 235, 0.9);
  font-weight: 500;
  text-align: center;
}

.seller-story h2 {
  font-size: 3rem;
  font-weight: 600;
  opacity: .9;
}

.seller-story .card {
  position: relative;
}

.seller-story .card img {
  border-radius: 10px;
}

.seller-story .card-body {
  position: relative;
  top: -50px;
  padding: 20px 20px 10px 20px;
  z-index: 1;
  background-color: var(--nav-bg-color);
  border-radius: 10px;
  width: 95%;
  margin: 0 auto;
}

h2 {
  font-size: 2.05rem;
  line-height: 1.25;
  margin-bottom: 2.5rem;
  color: #e5e7eb;
  font-weight: 600;
}

.notif-bar {
  background-color: #374151;
  padding: 10px;
}

.notif-bar span:nth-child(2) {
  font-size: .875rem;
  color: var(--default-text-color);
  opacity: .9;
}

.notif-bar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar {
  background-color: var(--content-bg-color);
}

.navbar .dropbtn {
  font-size: 16px;
  border: none;
}

.navbar .dropdown {
  position: relative;
  display: inline-block;
}

.navbar .dropdown a {
  cursor: pointer;
}

.navbar .dropdown-content {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  text-align: left;
  background-color: var(--nav-bg-color);
  width: 100%;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.navbar .dropdown:hover .dropdown-content {
  display: block;
}

.navbar a.navbar-brand {
  color: var(--default-text-color) !important;
}

.navbar a.navbar-brand svg {
  width: 8rem;
}

.navbar a.nav-link {
  font-size: 1rem;
  color: var(--nav-link-color) !important;
}

.navbar a.nav-link:hover {
  color: white !important;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  display: none !important;
}

.slide-wrapper {
  height: 70vh;
}

.slide-wrapper .container {
  background-color: var(--nav-bg-color);
  padding: 1.5rem 1.0rem;
  border-radius: 20px;
}

.slide-wrapper .carousel-caption {
  position: static !important;
  text-align: left !important;
}

.slide-wrapper .carousel-caption h5 {
  color: var(--default-text-color);
  opacity: .9;
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 2.25rem;
}

.slide-wrapper .carousel-caption p {
  font-size: 1.25rem;
  color: var(--nav-link-color);
  margin-bottom: 20px;
}

.slide-wrapper .carousel {
  height: 450px;
}

.slide-wrapper .carousel-indicators li {
  display: none;
}

.slide-wrapper .btn {
  padding: .75rem;
}

.order-management .model-img {
  width: 100%;
  height: 550px;
  border-radius: 10px;
  padding: 50px;
}

.order-management .model-content span {
  font-size: .75rem;
  letter-spacing: .1em;
  display: block;
  margin-bottom: 20px;
  color: var(--subtitle-text-color);
}

.order-management .model-content h2 {
  font-size: 2.25rem;
  line-height: 1.25;
  padding-right: 1.5rem;
  margin-bottom: 20px;
}

.order-management .model-content p {
  font-size: 1.25rem;
  color: var(--description-text-color);
}

.inventory-management .model-img {
  width: 100%;
  height: 550px;
  border-radius: 10px;
  padding: 50px;
}

.inventory-management .model-content span {
  font-size: .75rem;
  letter-spacing: .1em;
  display: block;
  margin-bottom: 20px;
  color: var(--subtitle-text-color);
}

.inventory-management .model-content h2 {
  font-size: 2.25rem;
  line-height: 1.25;
  padding-right: 1.5rem;
  margin-bottom: 20px;
}

.inventory-management .model-content p {
  font-size: 1.25rem;
  color: var(--description-text-color);
}

.shipping-management .model-img {
  width: 100%;
  height: 550px;
  border-radius: 10px;
  padding: 50px;
}

.shipping-management .model-content span {
  font-size: .75rem;
  letter-spacing: .1em;
  display: block;
  margin-bottom: 20px;
  color: var(--subtitle-text-color);
}

.shipping-management .model-content h2 {
  font-size: 2.25rem;
  line-height: 1.25;
  padding-right: 1.5rem;
  margin-bottom: 20px;
}

.shipping-management .model-content p {
  font-size: 1.25rem;
  color: var(--description-text-color);
}

section.addons .row .col-lg-4,
section.addons .row .col-md-6,
section.addons .row .col-lg-8,
section.addons .row .col-sm-12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

section.addons .card {
  background-color: var(--nav-bg-color) !important;
  padding: .98rem;
  border-radius: 10px !important;
}

section.addons h5 {
  color: var(--default-text-color) !important;
  font-weight: 600;
}

section.addons p {
  color: var(--default-text-color) !important;
  opacity: .6;
}

section.addons li {
  font-size: 1.120rem;
  line-height: 1.25;
  opacity: .8;
  margin-bottom: 20px;
  position: relative;
}

section.addons li span {
  font-size: .75rem;
  background-color: #10b981;
  padding: 3px 10px;
  border-radius: 40px;
}

section.addons .price-card-addons {
  background-color: #1155cc;
  border-radius: 10px;
  padding: .98rem;
  text-align: center;
}

section.addons .price-card-addons p {
  opacity: .9 !important;
}

section.addons .price-card-addons p span {
  font-size: 16px;
  opacity: 1 !important;
}

section.addons .price-card-addons .btn-white {
  background-color: white !important;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px 20px;
  opacity: .8;
}

section.addons .price-card-addons .btn-white:hover {
  background-color: transparent !important;
  border: 1px solid white;
}

.icons-card-wrapper .card {
  background-color: var(--content-bg-color);
}

.icons-card-wrapper .card .card-body {
  padding: 0px !important;
  margin-top: 10px !important;
}

.icons-card-wrapper .card img {
  display: block;
  width: 60px;
  height: 60px;
}

.icons-card-wrapper .card h5 {
  font-size: 1.5rem;
  line-height: 1.25;
  opacity: .8;
  margin-bottom: 20px;
}

.icons-card-wrapper .card p {
  margin-bottom: 40px;
  color: var(--description-text-color);
}

.icons-card-wrapper .card .btn {
  background-color: transparent;
  color: var(--description-text-color);
  border: none;
  text-decoration: underline;
}

.icons-card-wrapper .card .btn:hover {
  color: var(--default-text-color);
}

.bisnis-online .card {
  background-color: var(--content-bg-color);
  border: none;
  padding: 1.5rem;
}

.bisnis-online .card h5 {
  font-size: .875rem;
  line-height: 1.5;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .1em;
  opacity: .8;
}

.bisnis-online .card p {
  font-size: 1rem;
  color: var(--description-text-color);
}

.bisnis-online .shadow-fiture {
  background-color: var(--nav-bg-color);
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.testimonial {
  border-radius: 15px;
  position: relative;
  background-color: var(--nav-bg-color);
  padding: 100px 0;
}

.testimonial .carousel {
  position: relative;
  z-index: 1;
}

.testimonial .carousel img {
  border-radius: 15px;
  position: relative;
  z-index: -1;
  left: 50px;
}

.testimonial .carousel .carousel-caption {
  margin: 80px 0px;
  border-radius: 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
          box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  padding: 40px;
  background-color: var(--nav-bg-color) !important;
  position: static;
  text-align: left !important;
}

.testimonial .carousel .carousel-caption p {
  font-size: 1.25rem;
  color: var(--default-text-color);
  opacity: .8;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 20px;
}

.testimonial .carousel .carousel-caption .testimonial-subtitle {
  color: var(--description-text-color);
}

.testimonial .carousel .carousel-caption .testimonial-name {
  color: var(--default-text-color);
  opacity: .8;
}

.testimonial .carousel .carousel-control-next-icon,
.testimonial .carousel .carousel-control-prev-icon {
  display: none !important;
}

.testimonial .carousel .carousel-indicators li {
  display: none;
}

.testimonial .btn {
  background-color: transparent;
  border: none;
}

.testimonial .btn:hover {
  text-decoration: underline;
}

.client-kami img {
  width: 80%;
  margin: 0 auto;
}

.overview-content {
  background-color: #f6cc65;
  padding: 50px;
  border-radius: 10px;
}

.overview-content h2 {
  margin-bottom: 3.5rem;
  color: black;
  opacity: 1;
  font-size: 1.875rem;
  font-weight: 500;
}

.box-icons img {
  display: block;
  width: 48px;
  height: 48px;
}

.box-icons p {
  color: black;
  font-size: 1.125rem;
  margin: 1rem 0px;
}

.box-icons a.btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-pricisig .rekomendasi-platinum {
  background-color: #f87171;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 1px 10px;
  border-radius: 20px;
  overflow: hidden;
  position: absolute;
  top: -15px;
  text-align: center;
}

.card-pricisig .rekomendasi-platinum .dot-platinum {
  width: 8px;
  height: 8px;
  position: inherit;
  top: 31%;
  background: #1e3fa4;
  border-radius: 50%;
}

.card-pricisig .row .col-lg-4,
.card-pricisig .row .col-md-6,
.card-pricisig .row .col-sm-12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.card-pricisig .platinum {
  background: -webkit-gradient(linear, left top, left bottom, from(#1e40af), to(#15c));
  background: linear-gradient(#1e40af, #15c);
}

.card-pricisig .card {
  position: relative;
  background-color: var(--nav-bg-color);
  opacity: .9;
  height: 100%;
}

.card-pricisig .card .card-body {
  padding: 2rem;
}

.card-pricisig .card .btn {
  background-color: white;
  border-color: white;
  color: var(--content-bg-color);
  opacity: .9;
  margin-top: 8px;
}

.card-pricisig .card .btn:hover {
  background-color: var(--nav-bg-color);
  color: white;
}

.card-pricisig .card .show-detail {
  background-color: transparent;
  border-bottom-width: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px dashed white;
  border-radius: 0;
  padding: 0;
  position: absolute;
  bottom: 22px;
  color: white;
  opacity: .6;
  margin-top: -20px;
  margin-left: 10px;
}

.card-pricisig .card .parent-price-card {
  position: relative;
}

.card-pricisig .card .parent-price-card .rupiah-card {
  position: absolute;
  top: 0;
  left: 0;
}

.card-pricisig .card .parent-price-card .zero-card {
  font-weight: 500;
  font-size: 2.25rem;
  margin-left: 1.30rem;
}

.card-pricisig .card .parent-price-card .bulan-card {
  position: relative;
  left: -9px;
}

.card-pricisig .card ul {
  padding: 1.25rem;
}

.card-pricisig .card ul li {
  line-height: 1.25;
  margin-bottom: .75rem;
}

.card-pricisig p {
  font-size: .875rem;
  margin-bottom: 1.25rem;
}

.card-pricisig .nav-link {
  padding: .3rem 2.5rem;
  border-radius: 40px;
}

.card-pricisig .nav-pills {
  border: 1px solid white;
  border-radius: 40px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  padding: 2px;
  overflow: hidden;
}

.card-pricisig .tab-content {
  margin: 100px 0px;
}

footer .col-xl-3,
footer .col-md-6 {
  padding: 20px 0;
}

footer .col-xl-3 .footer_description,
footer .col-md-6 .footer_description {
  font-size: 14px !important;
  color: var(--nav-link-color) !important;
}

footer .col-xl-3 h5,
footer .col-md-6 h5 {
  font-size: 18px;
  color: var(--default-text-color);
  opacity: .8;
  font-weight: bold;
}

footer .col-xl-3 p,
footer .col-md-6 p {
  font-size: 17px !important;
}

footer .col-xl-3 .list_footer,
footer .col-md-6 .list_footer {
  padding: 5px;
}

.list_footer a {
  font-size: 1rem;
}

footer .col-xl-3 li,
footer .col-md-6 li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: start;
  place-items: center;
  list-style: none;
}

footer .col-xl-3 li i,
footer .col-md-6 li i {
  font-size: 23px;
  color: var(--content-bg-color);
  font-weight: bol;
}

footer .col-xl-3 li a,
footer .col-md-6 li a {
  margin: 3px 0px;
  text-decoration: none;
  color: var(--nav-link-color);
}

footer .col-xl-3 li a:hover,
footer .col-md-6 li a:hover {
  color: white;
}

footer .col-xl-3 .social_media_description,
footer .col-md-6 .social_media_description {
  width: 60% !important;
}

footer .col-xl-3 .social_media,
footer .col-md-6 .social_media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  width: 80%;
}

footer .col-xl-3 .social_media a,
footer .col-md-6 .social_media a {
  text-decoration: none;
  padding: 10px;
  background-color: #f3f5fa;
  margin-left: 5px;
}

footer .col-xl-3 .social_media a i,
footer .col-md-6 .social_media a i {
  line-height: 10px;
  font-size: 16px;
}

footer .card-header {
  background-color: var(--content-bg-color);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.register {
  width: 555px;
  margin: 0 auto;
}

.register form {
  -webkit-box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
          box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  overflow: hidden;
  border-radius: 10px;
}

.register .form-group {
  position: relative;
}

.register .form-group svg {
  margin-top: 1px;
  color: #ced4da;
  position: absolute;
  top: 20px;
  left: .5rem;
  -webkit-transform: translateY(-50%) scale(0.85);
          transform: translateY(-50%) scale(0.85);
}

.register .form-group .btn {
  background-color: #007bff;
  border-color: #007bff;
}

.register .form-group .btn:hover {
  -webkit-box-shadow: 0 5px 15px black, 0 4px 10px #007b0a;
          box-shadow: 0 5px 15px black, 0 4px 10px #007b0a;
}

.register .channel-list .form-check-label {
  padding: .25rem 1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #e5e5e5;
  border-radius: .25rem;
  cursor: pointer;
  font-size: 12px;
  margin-right: 4px;
  margin-bottom: 8px;
}

.register .form-check-inline {
  margin-right: 0;
}

.register .form-check-inline .form-check-input {
  position: static;
  margin-top: 0;
  margin-right: .3125rem;
  margin-left: 0;
}

.register [name="channel[]"] {
  display: none;
}

.register input[type=checkbox],
.register input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

@media (min-width: 992px) {
  .slide-wrapper {
    height: auto !important;
  }
  .container,
  .container-fluid {
    width: 90% !important;
  }
}

@media (min-width: 768px) {
  .container,
  .container-fluid {
    width: 95% !important;
  }
}
/*# sourceMappingURL=style.css.map */